<h1>Posts page </h1>
<p> List of users posts here </p>
<% @posts.each do |post|  %>
    <h2><%= post.user_id%></h2>
    <h2><%= post.Title%></h2>

    <p><%= post.Text%></p>
    <p><%= post.comments_counter%></p>
    <p><%= post.likes_counter%></p>

    <%=link_to "Show User",user_post_path(post.user_id,post.id)%>
    <%end%>