
<h3>Post Show</h3>
<%= link_to "Home", users_path %>
<%= link_to "post comments",  user_post_comments_path(@post.user_id,@post.id) %>


<div class="container">
<div class="post-container">
  <h2><%= @post.Title %> by <%= @post.user.Name %></h2>
  <h6>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h6>
  <p class="post-text"><%= @post.Text %></p>
</div>

<div class="comments_content">
  <% if @post.all_comments.count.zero? %>
  <p>Post has no comments yet</p>
  <%else%>
  <% @post.all_comments.each do |comment| %>
    <p><%= comment.user.Name %>: <%= comment.text %></p>
    <% if can? :destroy, comment %>
    <%= button_to 'Delete Comment', user_post_comment_path(@user, @post, comment), method: :delete %>
  <% end %>

  <% end %>
  <% end %>
</div>
</div>


